/* header */

header{
    display: flex;
    margin-bottom: 266px;
    padding: 64px 132px;
}
.logo{
    /* margin-top: 64px;
    margin-left: 132px; */
    align-items: center;
}

nav{
    width: 596px;
    margin-left: 730px;
    /* margin-top: 80px; */
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav li a{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #3D37F1;
}

/* end header */


/*--------------- start main------ */

/* upper-block */

.upper-block{
    display: flex;
    justify-content: space-around;
    padding-bottom: 288px;
}
.left-box {
    width: 636px;
    /* background-color: darksalmon; */
}
.left-box-h {
    font-size: 78px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    line-height: 109px;
    color: #534D4D;
}
.left-box-p {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #534D4D;
    margin-top: 39px;
}
.wave {
    width: 264px;
    height: 77px;
    background-color: #3D37F1;
    border-radius: 38px;
    padding: 22px 50px;

    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 153px;
}

.wave::before {
    content: url(../img/waving-hand.svg);
    margin-right: 28px;
}
.wave:hover {
    background-color: #5853f1;
}


/* below-block */

.below-block {
    background-color: #FBFCFD;
    text-align: center;
}

.below-block-h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #3D37F1;
}

.below-block-h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #5A5454;
    margin-top: 12px;
    margin-bottom: 20px;
}
.below-block-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #747474;
}


/* cards */

.all-cards{
    width: 1169px;
    height: 962px;
    margin: 67px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 370px;
    height: 451px;
    /* background-color: #FBBA77; */
    color: #FFFFFF;
    padding: 88px 21px 48px;
}
.card h2 {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 54px;
    margin-top: 55px;
}
.card p {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.button {
    width: 131px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 23px;
    padding: 12px;
    margin: 25px auto;

    font-family: 'roboto', sans-serif;
    font-size: 15px;
}
.button:hover {
    background-color: #FFFFFF;
    color: #4B647E;
}
.card-1 {
    background-image: linear-gradient(#FBBA77, #DFA871);
}
.card-1:hover {
    box-shadow: 3px 6px 100px #FBBA77;
}
.card-2 {
    background-image: linear-gradient(#41EAE3, #2293B7);
}
.card-2 h2 {
    margin-top: 47px;
}
.card-2:hover {
    box-shadow: 3px 6px 100px #2293B7;
}
.card-3 {
    background-image: linear-gradient(#69529F, #463864);
}
.card-3 h2 {
    margin-top: 40px;
}
.card-3:hover {
    box-shadow: 3px 6px 100px #463864;
}
.card-4 {
    background-image: linear-gradient(#4386D2, #0962C5);
}
.card-4 img {
    margin-top: -17px;
}

.card-4:hover {
    box-shadow: 3px 6px 100px #0962C5;
}
.card-5 {
    background-image: linear-gradient(#A5A2F6, #564FD6);
}
.card-5:hover {
    box-shadow: 3px 6px 100px #564FD6;
}
.card-6 {
    background-image: linear-gradient(#FF8088, #984141);
}
.card-6 h2 {
    margin-top: 45px;
}
.card-6:hover {
    box-shadow: 3px 6px 100px #984141;
}